<app-navigation></app-navigation>

<main>
  <div id="content" role="main">
    <section class="container colset-2-its">

      <h1 id="grails-head"><span class="small-heading">Welcome To The</span><br/>
        Grails Application Forge<br/>
        <span class="small-heading">by OCI</span></h1>

        <router-outlet></router-outlet>

    </section>
    <section class="container instructions">
      <h2>API</h2>

      <p>
        The Grails Application Forge includes an API which may be invoked using any
        http client, like curl for example.
      </p>

      <h3>Create An Application Using The Latest Release</h3>
      <pre>curl -O start.grails.org/myProject.zip</pre>

      <h3>Create A Plugin Using The Latest Release</h3>
      <pre>curl -O start.grails.org/myPlugin.zip -d type=plugin</pre>

      <h3>Specify A Grails Version</h3>
      <pre>curl -O start.grails.org/myProject.zip -d version=3.2.2</pre>
      <h3>Specify A Grails Profile</h3>
      <pre>curl -O start.grails.org/restPproject.zip -d profile=rest-api</pre>

      <h3>Help</h3>
      <p>
        A list of all available options will be returned if a request is sent to the application without any arguments.
      </p>
      <pre>curl start.grails.org

...</pre>
    </section>
  </div>

  <template ngbModalContainer></template>

</main>
