label {
    display:block;
}
select {
    width: 99%;
}
input#name { width: 97.5%;}

form ol {
    list-style-type: none;
    padding: 0;
}
form ol li {
    margin: 20px 0;
}
form ol li ol li {
    margin: 3px 0;
}

input[type=submit] {
    border: 1px solid #255AA8;
    font-size: 20px;
    padding: 5px 20px;
    font-size: 20px !important;
    background-color: #255AA8;
    margin-bottom: 25px;
    align-items: flex-start;
    background-image: none;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-collapse: collapse;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgb(204, 204, 204) 1px 2px 2px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    direction: ltr;
    display: inline-block;
    font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    height: 60px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    tab-size: 4;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 300px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-border-image: none;
}

#loading {
    left: 50%;
    width: 200px;
    padding: 5px;
    margin: 5px auto 20px;
    background-color: rgba(255,255,204,0.5);
    visibility: hidden;
}

label {
    font-weight: bold;
}